rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /screenshots/{fileName} {
      allow read: if true;
      allow create: if request.resource.size < 200 * 1024
        && request.resource.contentType.matches('image/jpeg');
      allow update, delete: if false;
    }
  }
}
